node_modules/*
.vite/*
.codex/*
.devcontainer/.onCreateCommandMarker
.npm/*
.dotnet/*
.vscode-server/*

.devcontainer/.postCreateCommandMarker
.devcontainer/.updateContentCommandMarker
.config/*
.cache/*

